body {
    background-color: #ddd;
}

#penguin-carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    height: 454px;
    max-width: 340px;
    border: 2px solid black;
    overflow-x: hidden;

    & #nextButton,
    #previousButton {
        position: absolute;
        background-color: #ccc;
        cursor: pointer;
    }

    & #nextButton:hover,
    #previousButton:hover {
        background-color: black;
    }

    & #nextButton {
        right: 0;
    }

    & #previousButton {
        left: 0;
    }
}
